<html>
<head>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
    主页
</title>
</head>
<body>
    <table width=1200 align=center border=0>
    <tr>
        <td width=100 background-color:"#484848" align=right>
            <img src="view/html/pic/hr.jpg" style="width:160px;height:40px;"/>
        </td>

        <td align=center width="100" style="background-color:003333" >
            <a href="leisure.html"><font color="white">休闲模式</font></a>
        </td>
        <td align=center width="100" style="background-color:003333" >
            <a href="#"><font color="white">天梯模式</font></a>
        </td>
        <td align=center width="100" style="background-color:003333" >
            <a href="#"><font color="white">排名</font></a>
        </td>
        <td align=center width="100" style="background-color:003333" >
            <a href="#"><font color="white">提交状态</font></a>
        </td>
        <td align=center width="100" style="background-color:003333" >
            <a href="#"><font color="white">Wiki</font></a>
        </td>
    </tr>

    <tr>
        <td align=right  width=130>
        <table  width="120" bordercolor=black border=0 bgcolor="FFFFCC"> 
            <tr>
            <td align=right colspan=2>
                <img src="pic/t1.jpg" style="width:150px;height:150px;"/>
            </td>                
            </tr>
            <tr>
                <td align=left width="40">
                    <font color=006633>
                    Name:
                    </font>
                </td>
                <td align=right width="40">wind
                </td>
            </tr>
             <tr>
                <td align=left width="40">
                    <font color=006633>
                    Rank:
                    </font>
                </td>
                <td align=right width="40">20
                </td>
            </tr>
             <tr>
                <td align=left width="40">
                    <font color=006633>
                    Solved:
                    </font>
                </td>
                <td align=right width="40">102
                </td>
            </tr>
             <tr>
                <td align=left width="40">
                    <font color=006633>
                    Hlevel: 
                    </font>
                </td>
                <td align=right width="40">23
                </td>
            </tr>
             <tr>
                <td align=left width="40" colspan="2">
                    <font color=006633>
                    Medal:
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                <img src="pic/m1.jpg" style="width:150px;height:30px;"/>
                </td> 
            </tr> 
            <tr>
                <td align=center colspan=2 bgcolor=FFFFFF>
                    <a href="#">
                    <font color=006633>
                    Modify 
                    </font>
                    </a>
                </td>
            </tr>
            <tr>
                <td align=center colspan=2 bgcolor=FFFFFF>
                    <a href="#">
                    <font color=006633>
                    My submits
                    </font>
                    </a>
                </td>
            </tr>
			 <tr>
                <td align=center colspan=2 bgcolor=FFFFFF>
					<a href="<?php echo U('User','logout'); ?>">
                    <font color=006633>
						Logout
                    </font>
                    </a>
                </td>
            </tr>
         <tr>
        <td colspan=6 width=160>
            <table width=158 cellspacing=0 border=1 cellpadding=3 bordercolor=ccffff>
                <tr>
                    <td align=center>
                        <b>
                        Board
                    </b>
                    </td>
                </tr>
                <tr>
                    <td align=left>
                            天梯模式增加新关卡 23 关！  
                            <br/>
                            <br/>
                            增加图论专题
                            <br/>
                            <br/>
                            <br/>
                            增加计算几何专题

                    </td>
                </tr>

            </table>
        </td>
    </tr>


        </table>
    </td>

     <td colspan=5 valign="top" align=center>
         <table height=530 border=1 cellspacing=0 border=0 width=1050px bgcolor=ccccff>
             <tr>
                 <td align=center width=48% height=30px>
                     <a>
                     已解锁关卡
                    </a>
                </td>  
                <td align=center width=48%>
                    <a>
                    技能树
                </a>
                </td>
             </tr>

             <tr><td height=27px colspan=2>
                     <a href="#">
                    &nbsp;第一章： 输入输出
                    </a>
            </td>    </tr>

         <tr><td height=27px colspan=2>
                     <a href="#">
                   &nbsp;第二章： 枚举和二分
                    </a>
            </td>    </tr>

         <tr><td height=27px colspan=2>
                     <a href="#">
                   &nbsp;第三章： 贪心和分治
                    </a>
            </td>    </tr>

         <tr><td height=27px colspan=2 >
                     <a href="#">
                   &nbsp;第四章： 排序
                    </a>
            </td>    </tr>
         <tr>
            </tr>
         </table>
    </td>
    </tr>
       </table>
     
</body>
</html>
