.left_menu{
	
	border-right: 1px solid;
	border-color: #C0C0C0;
	background-color: #333366;
}

.menu_content{
	padding-top: 15px;
	min-height: 800px;
	max-height: 100%;
}

.admin_body{
	background-color: #e8e8e8;
}

.body_content{
	padding-top: 25px;
	padding-left:10px;	
	padding-right: 20px;
	min-height: 800px;
	max-height: 100%;
}

.body_content label{
	padding-top:5px;
}
.admin_footer{
	text-align: right;
	border-top: 1px solid;	
	border-color: #C0C0C0;
	color: #A0C0A0;
	font-size:10px;
}
