<html>
<head>
<title>
	admin
</title>
	<?php include("header.html"); ?>				
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="header">
			<?php include("navigation.html"); ?>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 left_menu">
				 <?php include("leftmenu.html"); ?>
			</div>
			<div class="col-md-10 admin_body">
				<div class="body_content">
				right
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="row">
		<?php include("footer.html"); ?>
		</div>
	</div>
</body>
</html>
